Repository biosustain/lifelike, changes with the labels that .github/labeler.yml gives for each.
All labels: backend, frontend, dependencies, migrations, tests, docker, workflow, infrastructure

.github/labeler.yml:

# Pull Request Labeler
# Automatically label requests based on the paths of files being changed.
# https://github.com/marketplace/actions/labeler

backend:
  - appserver/*
  - appserver/**/*
  - statistical-enrichment/*
  - statistical-enrichment/**/*
  - cache-invalidator/*
  - cache-invalidator/**/*

frontend:
  - client/*
  - client/**/*

dependencies:
  - '**/package.json'
  - '**/yarn.lock'
  - '**/Pipfile*'

migrations:
  - appserver/migrations/versions/*

tests:
  - appserver/tests/*
  - appserver/tests/**/*
  - client/e2e/*
  - client/e2e/**/*

docker:
  - '**/Dockerfile'
  - '**/*.Dockerfile'
  - '**/*.dockerignore'
  - '**/docker-compose*.yml'

workflow:
  - .github/*
  - .github/**/*

infrastructure:
  - deployment

Update integration test workflow
  .github/workflows/integration-tests.yml
Labels: workflow

Update integration test workflow
  .github/workflows/integration-tests.yml
Labels: workflow

Update integration test workflow
  .github/workflows/integration-tests.yml
Labels: workflow

readd missing declaration
  appserver/neo4japp/blueprints/annotations.py
Labels: backend

readd missing declaration
  appserver/neo4japp/blueprints/annotations.py
Labels: backend

readd missing declaration
  appserver/neo4japp/blueprints/annotations.py
Labels: backend

add PsyringaeCyc-gds database
  graph-db/extraction/src/biocyc/biocyc_parser.py
  graph-db/extraction/src/biocyc/gene_parser.py
  graph-db/extraction/src/common/base_parser.py
  graph-db/extraction/src/common/constants.py
  graph-db/extraction/src/config/config.yml
  graph-db/extraction/src/ncbi/ncbi_gene_parser.py
  graph-db/migration/liquibase/psyringaecyc-gds/changelog-master.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0000-enzyme.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0010-PsyringaeCyc-init-07-06-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0020-PsyringaeCyc-gds-07-06-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/liquibase.properties
Labels: none

add PsyringaeCyc-gds database
  graph-db/extraction/src/biocyc/biocyc_parser.py
  graph-db/extraction/src/biocyc/gene_parser.py
  graph-db/extraction/src/common/base_parser.py
  graph-db/extraction/src/common/constants.py
  graph-db/extraction/src/config/config.yml
  graph-db/extraction/src/ncbi/ncbi_gene_parser.py
  graph-db/migration/liquibase/psyringaecyc-gds/changelog-master.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0000-enzyme.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0010-PsyringaeCyc-init-07-06-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0020-PsyringaeCyc-gds-07-06-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/liquibase.properties
Labels: none

add PsyringaeCyc-gds database
  graph-db/extraction/src/biocyc/biocyc_parser.py
  graph-db/extraction/src/biocyc/gene_parser.py
  graph-db/extraction/src/common/base_parser.py
  graph-db/extraction/src/common/constants.py
  graph-db/extraction/src/config/config.yml
  graph-db/extraction/src/ncbi/ncbi_gene_parser.py
  graph-db/migration/liquibase/psyringaecyc-gds/changelog-master.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0000-enzyme.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0010-PsyringaeCyc-init-07-06-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0020-PsyringaeCyc-gds-07-06-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/liquibase.properties
Labels: none

fix: upgrade zone.js from 0.10.3 to 0.11.6
  client/package.json
  client/yarn.lock
Labels: frontend, dependencies

Update Integration Tests workflow event
  .github/workflows/integration-tests.yml
Labels: workflow

Update Integration Tests workflow event
  .github/workflows/integration-tests.yml
Labels: workflow

Update Integration Tests workflow event
  .github/workflows/integration-tests.yml
Labels: workflow

Fix biocyc_parser.py
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-post-load-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-post-load-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-post-load-07-07-2022.xml
  graph-db/extraction/src/biocyc/biocyc_parser.py
  graph-db/migration/liquibase/bsubcyc-gds/changelogs/changelog-0010-BsubCyc-init-07-07-2022.xml
  graph-db/migration/liquibase/bsubcyc-gds/changelogs/changelog-0020-BsubCyc-gds-07-07-2022.xml
  graph-db/migration/liquibase/ecocyc-gds/changelogs/changelog-0000-enzyme.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0010-PsyringaeCyc-init-07-07-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0020-PsyringaeCyc-gds-07-07-2022.xml
Labels: none

Fix biocyc_parser.py
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-post-load-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-post-load-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-post-load-07-07-2022.xml
  graph-db/extraction/src/biocyc/biocyc_parser.py
  graph-db/migration/liquibase/bsubcyc-gds/changelogs/changelog-0010-BsubCyc-init-07-07-2022.xml
  graph-db/migration/liquibase/bsubcyc-gds/changelogs/changelog-0020-BsubCyc-gds-07-07-2022.xml
  graph-db/migration/liquibase/ecocyc-gds/changelogs/changelog-0000-enzyme.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0010-PsyringaeCyc-init-07-07-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0020-PsyringaeCyc-gds-07-07-2022.xml
Labels: none

Fix biocyc_parser.py
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-BsubCyc-post-load-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-EcoCyc-post-load-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-no-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-gds-reg-collapse-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-init-07-07-2022.xml
  graph-db/extraction/data/changelogs/biocyc/changelog-PsyringaeCyc-post-load-07-07-2022.xml
  graph-db/extraction/src/biocyc/biocyc_parser.py
  graph-db/migration/liquibase/bsubcyc-gds/changelogs/changelog-0010-BsubCyc-init-07-07-2022.xml
  graph-db/migration/liquibase/bsubcyc-gds/changelogs/changelog-0020-BsubCyc-gds-07-07-2022.xml
  graph-db/migration/liquibase/ecocyc-gds/changelogs/changelog-0000-enzyme.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0010-PsyringaeCyc-init-07-07-2022.xml
  graph-db/migration/liquibase/psyringaecyc-gds/changelogs/changelog-0020-PsyringaeCyc-gds-07-07-2022.xml
Labels: none

add notebook for generating ecocyc-lei database
  graph-db/extraction/notebook/Create BioCyc GDS databases.ipynb
  graph-db/extraction/notebook/Create ecocyc-lei.ipynb
  graph-db/extraction/notebook/Create ecocyc-lei.pdf
Labels: none

add notebook for generating ecocyc-lei database
  graph-db/extraction/notebook/Create BioCyc GDS databases.ipynb
  graph-db/extraction/notebook/Create ecocyc-lei.ipynb
  graph-db/extraction/notebook/Create ecocyc-lei.pdf
Labels: none

add notebook for generating ecocyc-lei database
  graph-db/extraction/notebook/Create BioCyc GDS databases.ipynb
  graph-db/extraction/notebook/Create ecocyc-lei.ipynb
  graph-db/extraction/notebook/Create ecocyc-lei.pdf
Labels: none

Kwargs logging function
  appserver/neo4japp/utils/logger.py
Labels: backend

Update log events
  appserver/neo4japp/blueprints/annotations.py
  appserver/neo4japp/blueprints/filesystem.py
Labels: backend

Expanded user activity logging in Flask blueprints
  appserver/neo4japp/blueprints/account.py
  appserver/neo4japp/blueprints/filesystem.py
  appserver/neo4japp/utils/logger.py
Labels: backend

update event labels
  appserver/neo4japp/blueprints/filesystem.py
  appserver/neo4japp/utils/logger.py
Labels: backend

Add user action logging to projects blueprint
  appserver/neo4japp/blueprints/projects.py
Labels: backend

Remove unused file
  scripter.sh
Labels: none

Remove paths restriction from integration tests event
  .github/workflows/integration-tests.yml
Labels: workflow

Remove paths restriction from integration tests event
  .github/workflows/integration-tests.yml
Labels: workflow

Remove paths restriction from integration tests event
  .github/workflows/integration-tests.yml
Labels: workflow

Add Flake8 dev dependency
  appserver/Pipfile
  appserver/Pipfile.lock
  appserver/setup.cfg
Labels: backend, dependencies

Add Flake8 dev dependency
  appserver/Pipfile
  appserver/Pipfile.lock
  appserver/setup.cfg
Labels: backend, dependencies

Add Flake8 dev dependency
  appserver/Pipfile
  appserver/Pipfile.lock
  appserver/setup.cfg
Labels: backend, dependencies

Add some ignore errors/warnings to flake8 configuration
  appserver/setup.cfg
Labels: backend

Add flake8 to appserver pre-commit hook
  appserver/.githooks/pre-commit
Labels: backend

Add some ignore errors/warnings to flake8 configuration
  appserver/setup.cfg
Labels: backend

Add flake8 to Integration Tests workflow
  .editorconfig
  .github/workflows/integration-tests.yml
Labels: workflow

Add flake8 to Integration Tests workflow
  .editorconfig
  .github/workflows/integration-tests.yml
Labels: workflow

Add flake8 to appserver pre-commit hook
  appserver/.githooks/pre-commit
Labels: backend

Add flake8 to Integration Tests workflow
  .editorconfig
  .github/workflows/integration-tests.yml
Labels: workflow

Add flake8 to appserver pre-commit hook
  appserver/.githooks/pre-commit
Labels: backend

Add some ignore errors/warnings to flake8 configuration
  appserver/setup.cfg
Labels: backend
